.changepassword-nav {
	width: 1000%;
	height: 100px;
	padding-top: 100px;
    padding-left: 70px;
	opacity: 1;
	transition: all .5s ease;
  }

  .nav-up {
	transform: translateY(-100px);
	opacity: 0;
  }
  
  li {
	padding-left: 100px;
	font-size: 18px;
	display: inline;
	text-align: left;
	text-transform: uppercase;
	padding-right: 10px;
	color: #ffffff;
  }