
 body {
  background:#e0f7f8;;
  height: 100vh;
  /* display: flex; */
  width: 100%;
}

/* Centering the toggle button at the top */
/* .toggle-button {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  background-color: #008080;
  border-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button:hover {
  background-color: #63d0d4;
  border-color: #63d0d4;
} */

/* Modal styling */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.smallmodal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.close-btn {
 
  font-size: 22px;
  cursor: pointer;
  color: #333;
  margin-left: 230px;
  /* background: red;
  margin-left: 115px;
  margin-right: 115px;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px; */
}
.close-btn:hover{
  color: #e0f7f8;
  border-radius: 0px;
  background: red;
  padding-left: 7px;
  padding-right: 7px;
}
.smallmodal-content h3 {
  margin-top: 0;
  font-size: 16px;
  color: #333;
}

.smallmodal-content label {
  font-size: 14px;
  font-weight: 600;
  color: #666;
  display: block;
  margin-top: 10px;
  text-align: left;
  padding-left: 0;
  padding-bottom: 1px;
  text-transform: none;
}

.smallmodal-content input[type="date"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

.smallmodal-content button {
  width: 50%;
  padding: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.smallmodal-content button:hover {
  background-color: #0056b3;
}

h2 {
  color: #004578;
  margin-bottom: 20px;
  font-size: 24px;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Make sure it appears on top */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.sidebar {
  min-height: 100vh;
  background-color: #008080;
  /* Sidebar background color */
  color: white;
  flex-direction: column;
  /* transform: translateY(0%); */
  transition: transform 0.3s ease;
  z-index: 1000;
  /* Default font color */
}
.sidebar ul {
  flex-grow: 1; /* Pushes the logout button to the bottom */
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar a {
  color: white;
  /* Font color for links */
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 16px;
}

.sidebar a:hover {
  background-color: #63d0d4;
  /* Hover color for links */
}
/* Mobile Header Styling */
.mobile-header {
  display: none;
  background-color: #008080;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}

.mobile-header button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Show Sidebar for Mobile */
.sidebar-visible {
  transform: translateY(0%);
}
.statement-button {
  padding: 10px 15px;
  background-color: #008080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.statement-button:hover {
  background-color: #63d0d4;
}

.logout-button {
  background-color: #008080;
  border: none;
  color: white;
  padding: 10px 15px;
  /* padding-right: 100px; */
  border-radius: 5px;
  transition: 0.3s;
}
.logout-button i {
  margin-right: 8px;
  /* Space between icon and text */
  font-size: 16px;
  /* Icon size */
}
.logout-button:hover {
  background-color: #63d0d4;
}

.tile {
  background-color: #008080;
  /* Teal background */
  color: white;
  /* White font color */
  border-radius: 8px;
  /* Rounded corners */
  padding: 20px;
  /* Add padding for spacing */
  text-align: left;
  /* Align text to the left */
  position: relative;
  /* For arrow positioning */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
  transition: transform 0.3s ease-in-out;
  /* Hover animation */
  min-height: 150px;
  /* Fixed height for consistency */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hover effect */
.tile:hover {
  background-color: #63d0d4;
  /* Change background on hover */
  /* transform: translateY(-5px); Lift on hover */
}

/* Heading style */
.tile h4 {
  font-size: 18px;
  margin-bottom: 10px;
  /* Spacing between title and count */
}

/* Count style */
.tile .count {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* Underline design */
.tile .underline {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0;
  /* Space between underline and arrow */
}

/* Arrow style */
.tile .arrow {
  font-size: 20px;
  position: absolute;
  bottom: 1px;
  /* right: 15px; */
  color: white;
  font-weight: bold;
}

.modal-content {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_container{
  background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}



.user-detail-item {
  background-color: #e6f3ff;
}

.user-detail-item:hover {
  background-color: rgb(206, 244, 243);
  ;
}

.key {
  font-weight: bold;
  color: #004578;
  padding-right: 10px;
  /* Add space between key and value */
}

.value {
  color: #333;
  font-weight: normal;
}


@media(max-width:320px) {
  /* .sidebar {
    text-align: center;
    min-height: 0%;
  } */
  .sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.sidebar ul li a {
    font-size: 14px;
    padding: 8px;
}
.logout-button{
  padding-left: 3px;
}
}

@media(max-width:380px) {
  /* .sidebar {
    text-align: center;
    min-height: 0%;
  } */
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.sidebar ul li a {
    font-size: 14px;
    padding: 8px;
}
.logout-button{
  padding-left: 9px;
}
}
.sidebar_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media(max-width:430px) {
  /* .sidebar {
    text-align: center;
    min-height: 0%;
  } */
  
  .mobile-header {
    display: flex;
    position: absolute;
    padding-left: 20px;
  }
  .header_container{
    margin-top: 60px;
  }
  
  .sidebar {
    position: absolute;
    width: 100%;
    min-height: 0%;
    transform: translateY(-100%);
    /* position: fixed; */
  }

  .sidebar ul {
    margin-top: 20px;
    text-align: justify;
  }
  .sidebar-visible {
    transform: translateY(0%);
  }
  
  .logout-button{
    font-size: 16px;
  }
}




